<form>
  <div class="modal fade in form-custom-field-modal">
    <div class="modal-header">
      <div class="button close btn-dismiss" {{action cancel content}}>x</div>
      <h4 class="app-icon-large">New Dogspot</h4>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <div class="controls">
          <div id="map_canvas" style="height: 450px;"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-dark" {{action cancel content}}>Cancel</a>
      <button class="btn btn-success" type="submit" {{action nextStep target="view"}}>Next Step</button>
    </div>
  </div>

  <div class="modal fade in form-custom-field-modal" style="display: none">
    <div class="modal-header">
      <div class="button close btn-dismiss" {{action cancel content}}>x</div>
      <h4 class="app-icon-large">Account</h4>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="spot-title">Title</label>
        <div class="controls">
          {{view Ember.TextField elementId='spot-title' valueBinding='content.title'}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="post-text">Ground</label>
        <div class="controls">
          {{view Ember.Select contentBinding="values" valueBinding="rating.ground"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="post-text">Play</label>
        <div class="controls">
          {{view Ember.Select contentBinding="values" valueBinding="rating.play"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="post-text">Water</label>
        <div class="controls">
          {{view Ember.Select contentBinding="values" valueBinding="rating.water"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="post-text">Cleam</label>
        <div class="controls">
          {{view Ember.Select contentBinding="values" valueBinding="rating.clean"}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-dark" {{action prevStep target="view"}}>Step back</a>
      <button class="btn btn-success" type="submit" {{action submit content}}>Submit</button>
    </div>
  </div>
</form>