<h1>New Rating</h1>
Ground: {{view Ember.Select contentBinding="controller.ground" valueBinding="controller.content.ground"}}<br />
Play: {{view Ember.Select contentBinding="controller.play" valueBinding="controller.content.play"}}<br />
Water: {{view Ember.Select contentBinding="controller.water" valueBinding="controller.content.water"}}<br />
Clean: {{view Ember.Select contentBinding="controller.clean" valueBinding="controller.content.clean"}}<br />
<a href='#' {{action "create"}}>Create</a>