<h1>Show Spot</h1>
<p>{{title}}</p>
<p>{{text}}</p>
{{ log comments }}
{{ render "comments" comments }}
{{ render "commentNew" }}

{{#linkTo spotEdit content}}Edit Spot{{/linkTo}}
{{#linkTo spots}}Index Spots{{/linkTo}}