<h1>New Spot</h1>

<label {{bindAttr for="view.title.elementId"}}>Title:</label> {{view Ember.TextField viewName="title" valueBinding="title"}}<br />
<label {{bindAttr for="view.text.elementId"}}>Text:</label> {{view Ember.TextField viewName="text" valueBinding="text"}}<br />
<a href='#' {{action "create"}}>Create</a>